.your-custom-title-class {
  /* //  @include h1; */
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  font-family: "Poppins", "sans-serif" !important;
}
.your-custom-html-container-class #custom-text {
  color: #232323;
  font-weight: 400;
  font-size: 1.4rem;
}

.contact-form-container-width {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e3f2fd;

  .contact-form-container {
    /* // background:yellow; */
    width: 90%;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2.25rem;
    font-weight: 500;
    font-family: "Poppins";

    /* @include font-style(2.25rem, 500, Poppins); */

    @media (max-width: 600px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .contact-details-section {
      margin-top: 6.3rem;
      width: 50%;
      /* // display: inline-block; */

      /* @include font-style(3rem, 500, Poppins); */
      font-size: 3rem;
      font-weight: 500;
      font-family: "Poppins";
      /* // margin-left: 10rem; */
      @media (max-width: 600px) {
        text-align: center;
        width: 80%;
      }

      .contact-details-section-two {
        /* // width: 32rem; */
        width: fit-content;
        color: #000;
        /* @include font-style(1.4rem, 400, Poppins);
         */
        font-size: 1.4rem;
        font-weight: 400;
        font-family: "Poppins";
        line-height: normal;
        margin-bottom: 2rem;
        margin-top: 0.5rem;

        @media (max-width: 600px) {
          text-align: center;
          width: 80%;
          padding-left: 18%;
        }
      }

      .contact-details-section-margin {
        width: 100%;
        /* // width: 32rem; */
        color: #000;
        /* @include font-style(1.4rem, 400, Poppins); */
        font-size: 1.4rem;
        font-weight: 400;
        font-family: "Poppins";
        line-height: normal;
        margin-top: 4rem;
        @media (max-width: 600px) {
          display: none;
        }
        .contact-details-section-h2 {
          margin-bottom: 2rem;
        }

        .contact-detail-section-phone {
          margin-top: 1rem;
          padding-left: 0.5rem;

          .svg-margin {
            margin-left: 1rem;
          }
        }
      }
    }

    .contact-details-section-margin-2 {
      padding-bottom: 5rem;
      display: none;
      width: 80%;
      color: #000;
      /* @include font-style(1.4rem, 400, Poppins);
       */
      font-size: 1.4rem;
      font-weight: 400;
      font-family: "Poppins";

      line-height: normal;
      /* // margin-top: 4rem; */

      @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
      }
      .contact-details-section-h2 {
        margin-bottom: 2rem;
      }

      .contact-detail-section-phone {
        margin-top: 1rem;
        padding-left: 0.5rem;

        .svg-margin {
          margin-left: 1rem;
        }
      }
    }

    .form-section {
      /* // margin-bottom: 2rem;
      // display: flex; */
      margin-top: 5rem;
      width: 50%;
      /* // margin-right: 15rem; */
      border-radius: 16px;
      background: #fff;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -4px #0000001a;

      flex-shrink: 0;
      margin-bottom: 6.8rem;
      padding-bottom: 2rem;
      padding-top: 3rem;
      /* // margin-left: 10rem; */
      padding-left: 2.25rem;
      padding-right: 2.25rem;

      @media (max-width: 600px) {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        /* // padding-left: 1rem;
        // padding-right: 1rem; */
      }

      &.blur {
        position: relative;

        &::before {
          content: "";
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 999;
          background: rgba(
            255,
            255,
            255,
            0.849
          ); /* Adjust the background color and opacity */
        }

        .message-box {
          position: fixed;
          z-index: 1000;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .message-box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 4rem;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        .form-section-checkbox {
          display: flex;
          width: 30%;
          padding: 8.25px;
          height: 55px;
          margin-left: 9rem;
          margin-bottom: 1rem;
          border-radius: 275px;
          flex-shrink: 0;
          background: #05a77a;
        }

        .form-section-popup-msg-h1 {
          width: 32rem;
          /* @include font-style(1.4rem, 500, Poppins);
           */
          font-size: 1.4rem;
          font-weight: 500;
          font-family: "Poppins";
          margin-left: 2rem;
        }

        .form-section-popup-msg-h2 {
          width: 26rem;
          /* @include font-style(1.4rem, 400, Poppins); */
          font-size: 1.4rem;
          font-weight: 500;
          font-family: "Poppins";
          text-align: center;
          /* // @include flex-sbc; */
        }
      }

      .form-group {
        display: flex;
        padding: 0.625rem;
        gap: 2rem;
        justify-content: space-between;

        @media screen and (max-width: 500px) {
          flex-direction: column;
        }

        .form-group-input {
          width: 100%;
        }

        .form-section-inputfield {
          /* // border: 1px solid var(--ip-border-clr); */
          /* @include flex-cc; */
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          width: 100%;
          padding: 0.625rem;
          /* padding-right: 4rem; */
          gap: 0.625rem;
          margin-bottom: 1rem;
          outline: none;

          &.error {
            border-color: red;
          }
        }
        .form-section-inputfield:focus {
          /* border color on focus */
          border-color: var(--primary-clr);
        }

        .error {
          color: red;
          font-size: 0.875rem;
          margin-top: 0.25rem;
        }
      }

      .form-section-heading {
        margin-bottom: 1rem;
        color: #000;
        /* @include font-style(1.3rem, 500, Poppins); */
        font-size: 1.3rem;
        font-family: "Poppins";
        font-weight: 500;
        line-height: normal;
        margin-left: 0.5rem;
        width: 100%;
      }

      .form-section-select {
        /* @include font-style(1.4rem, 400, Poppins); */
        font-size: 1.4rem;
        font-weight: 400;
        font-family: "Poppins";
        display: flex;
        width: 98%;
        padding: 0.625rem;
        align-items: center;
        gap: 0.625rem;
        border: 1px solid rgba(105, 102, 102, 0.21);
        margin-bottom: 1rem;
        margin-left: 0.5rem;
      }

      .form-section-textarea {
        /* @include flex-ss; */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 98%;
        margin-left: 0.5rem;
        height: 8.1875rem;
        padding: 0.625rem;
        gap: 0.625rem;
        flex-shrink: 0;
        /* // border: 1px solid var(--ip-border-clr); */
        margin-bottom: 2rem;
        resize: vertical;
        /* @include font-style(1.4rem, 400, Poppins); */
        font-size: 1.4rem;
        font-weight: 400;
        font-family: "Poppins";

        .form-section-textarea:focus {
          /* border color on focus */
          border-color: var(--primary-clr);
        }
      }

      .btn {
        /* @include btn(var(--primary-clr), #fff);
         */
        /* @mixin bodyText($clr: #232323, $weight: 400){
            @include font-style(1.4rem, $weight);
            color: $clr;
          } */

        background-color: #0d47a1;
        font-weight: 400;
        font-size: 1.4rem;
        color: #232323;
        padding: 0.8rem 1.6rem;

        /* @include flex-cc; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 9.3rem;
        color: #fff;
        margin-left: 0.5rem;
      }

      .hints {
        margin-top: 2rem;
        color: #696666;
        /* @include font-style(1.1rem, 400, Poppins); */
        font-size: 1.1rem;
        font-weight: 400;
        font-family: "Poppins";
        /* // margin-right: 1.3rem; */
        text-align: justify;

        /* // width: 90%; */
        margin-left: 0.5rem;
        /* //  max-width: 90%;
        // max-width: 48.3rem; */
      }
    }
  }
}
