/* Your custom title class */
.your-custom-title-class {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  font-family: "Poppins", "sans-serif" !important;
}

/* Your custom HTML container class targeting #custom-text */
.your-custom-html-container-class #custom-text {
  color: #232323;
  font-weight: 400;
  font-size: 1.4rem;
}

/* Contact form container width class */
.contact-form-container-width {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e3f2fd;
}

/* Contact form container */
.contact-form-container {
  width: 90%;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2.25rem;
  font-weight: 500;
  font-family: "Poppins";
}

/* Contact details section */
.contact-details-section {
  margin-top: 6.3rem;
  width: 50%;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Poppins";
}

/* Contact details section two */
.contact-details-section-two {
  width: fit-content;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Poppins";
  line-height: normal;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

/* Contact details section margin */
.contact-details-section-margin {
  width: 100%;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Poppins";
  line-height: normal;
  margin-top: 4rem;
}

.contact-details-section-h2 {
  margin-bottom: 2rem;
}

.contact-detail-section-phone {
  margin-top: 1rem;
  padding-left: 0.5rem;
}

.svg-margin {
  margin-left: 1rem;
}

/* Contact details section margin 2 */
.contact-details-section-margin-2 {
  padding-bottom: 5rem;
  display: none;
  width: 80%;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Poppins";
  line-height: normal;
}

.contact-details-section-h2 {
  margin-bottom: 2rem;
}

.contact-detail-section-phone {
  margin-top: 1rem;
  padding-left: 0.5rem;
}

.svg-margin {
  margin-left: 1rem;
}

/* Form section */


.form-section {
  margin-top: 5rem;
  width: 50%;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px #0000001a;
  flex-shrink: 0;
  margin-bottom: 6.8rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.form-section.blur::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.849);
}

.form-section .message-box {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-section .message-box .form-section-checkbox {
  display: flex;
  width: 30%;
  padding: 8.25px;
  height: 55px;
  margin-left: 9rem;
  margin-bottom: 1rem;
  border-radius: 275px;
  flex-shrink: 0;
  background: #05a77a;
}

.form-section .message-box .form-section-popup-msg-h1 {
  width: 32rem;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Poppins";
  margin-left: 2rem;
}

.form-section .message-box .form-section-popup-msg-h2 {
  width: 26rem;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Poppins";
  text-align: center;
}

.form-section .form-group {
  display: flex;
  padding: 0.625rem;
  gap: 2rem;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .form-section .form-group {
    /* display: flex; */
    flex-direction: column;
    gap: 0.5rem;
  }
}

.form-section .form-group .form-group-input {
  width: 100%;
}

.form-section .form-group .form-section-inputfield {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.625rem;
  gap: 0.625rem;
  margin-bottom: 1rem;
  outline: none;
}

.form-section .form-group .form-section-inputfield.error {
  border-color: red;
}

.form-section .form-group .form-section-inputfield:focus {
  border-color: #0d47a1;
}

.form-section .form-group .error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.form-section .form-section-heading {
  margin-bottom: 1rem;
  color: #000;
  font-size: 1.3rem;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  margin-left: 0.5rem;
  width: 100%;
}

.form-section .form-section-select {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Poppins";
  display: flex;
  width: 98%;
  padding: 0.625rem;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid rgba(105, 102, 102, 0.21);
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.form-section .form-section-textarea {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 98%;
  margin-left: 0.5rem;
  height: 8.1875rem;
  padding: 0.625rem;
  gap: 0.625rem;
  flex-shrink: 0;
  margin-bottom: 2rem;
  resize: vertical;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Poppins";
}

.form-section .form-section-textarea:focus {
  border-color: #0d47a1;
}

.form-section .btn {
  background-color: #0d47a1;
  font-weight: 400;
  font-size: 1.4rem;
  color: #232323;
  padding: 0.8rem 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 9.3rem;
  color: #fff;
  margin-left: 0.5rem;
}

.form-section .hints {
  margin-top: 2rem;
  color: #696666;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Poppins";
  text-align: justify;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contact-details-section {
    text-align: center;
    width: 80%;
    margin-top: 1%;
  }

  .contact-details-section-two {
    text-align: center;
    width: 80%;
    /* margin-top: 1%; */
    padding-left: 10%;
  }

  .contact-details-section-margin {
    display: none;
  }

  .contact-details-section-margin-2 {
    display: flex;
    flex-direction: column;
  }

  .form-section {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

